.modulo {
  margin-left: auto;
  margin-right: auto;
  width: 95px;
  margin-top: 60px;
}

p {
  text-align: center;
  font-size: 25px;
}

.contenido {
  margin-top: 30%;
}

.imagen {
  width: 100%;
}

.texto {
    width: 50%;
  }