<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seleccion"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultar Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let post of arrayPost">
    <ion-item color="primary" class="contenido">
      <ion-label>OFERTAS: {{post.nombre_oferta}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea rows="2" disabled>
        {{post.descripcion_oferta}}
        <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, eos facilis ad excepturi enim veniam,
        consectetur
        voluptas perferendis, nihil soluta recusandae itaque impedit! Quae, minus dolor deserunt distinctio
        exercitationem
        officia! -->
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button color="secondary">Modificar</ion-button>
      <ion-button color="light">Ocultar Oferta</ion-button>
    </ion-item>

  </div>

  

  <!-- <div>
    <ion-item color="primary" class="contenido">
      <ion-label>OFERTAS:</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea rows="2" disabled>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, eos facilis ad excepturi enim veniam,
        consectetur
        voluptas perferendis, nihil soluta recusandae itaque impedit! Quae, minus dolor deserunt distinctio
        exercitationem
        officia!
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button color="secondary">Modificar</ion-button>
      <ion-button color="light">Ocultar Oferta</ion-button>
    </ion-item>
  </div>


  <div>
    <ion-item color="primary" class="contenido">
      <ion-label>OFERTAS:</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea rows="2" disabled>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, eos facilis ad excepturi enim veniam,
        consectetur
        voluptas perferendis, nihil soluta recusandae itaque impedit! Quae, minus dolor deserunt distinctio
        exercitationem
        officia!
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button color="secondary">Modificar</ion-button>
      <ion-button color="light">Ocultar Oferta</ion-button>
    </ion-item>
  </div> -->
</ion-content>