<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seleccion"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <div class="contenido">
      <ion-item>
        <ion-input type="text" placeholder="Nombre"></ion-input>
      </ion-item>
    </div>

    <div class="descripcion">
      <ion-item class="textarea">
        <ion-textarea rows="10" placeholder="Descripcion"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button color="primary" type="submit" expand="" class="boton" size="block" padding>RECHAZAR</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" type="submit" expand="" class="boton" size="block" padding>ACEPTAR</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>

</ion-content>